In [2]:
import pandas as pd
import numpy as np

In [167]:
df_original = pd.read_csv("2017_Migrant_A_desensitized2017_Migrant_A_desensitized.csv", encoding="GBK")
df_original

/mnt/enchome/anaconda3/envs/twee/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (81,82,85,86,87,88,89,90,92,93,94,97,116,160,161,162,163,164,165,166,167,169,170,171,172,173,174,175,180,181,182,183,184,186,227,228,229,230,231,232,233,234,236,237,238,239,240,241,242,243,245,246,247,248,249,250,251,252,286,288,292) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,newID,C1,C2,C3,C6,C7,C14,Q100,q101id1,q101a1,...,Q504C2,Q504D1,Q504D2,Q504E1,Q504E2,Q505,Q506,pcode,hjpro,w_l
0,105603,广东省,深圳市,光明新区,5281,居委会,5281,4,1,本人,...,本地,否,NaN,否,NaN,已经办理,1,44,36,6.719342
1,105619,广东省,深圳市,光明新区,5281,居委会,5281,3,1,本人,...,NaN,是,本地,否,NaN,已经办理,1,44,36,10.147591
2,73661,福建省,厦门市,同安区,3684,居委会,3684,4,1,本人,...,NaN,是,本地,否,NaN,已经办理,1,35,51,1.355456
3,168796,新疆生产建设兵团,第六师,军户农场,8440,居委会,8440,3,1,本人,...,本地,否,NaN,否,NaN,已经办理,2,66,65,0.157172
4,1718,北京市,北京市,朝阳区,86,居委会,86,2,1,本人,...,NaN,是,本地,否,NaN,已经办理,1,11,51,1.585694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,41331,上海市,上海市,闵行区,2067,居委会,2067,3,1,本人,...,NaN,不清楚,NaN,不清楚,NaN,没办，但听说过,1,31,33,2.686277
169985,69988,安徽省,宣城市,宁国市,3500,居委会,3500,4,1,本人,...,NaN,否,NaN,否,NaN,没办，但听说过,2,34,34,0.415267
169986,3410,北京市,北京市,海淀区,171,居委会,171,4,1,本人,...,NaN,是,本地,否,NaN,已经办理,1,11,13,1.746749
169987,55167,浙江省,杭州市,江干区,2759,居委会,2759,4,1,本人,...,NaN,是,本地,否,NaN,已经办理,2,33,33,3.795510
169988,42249,上海市,上海市,宝山区,2113,居委会,2113,2,1,本人,...,NaN,是,本地,否,NaN,已经办理,1,31,34,1.210509

In [170]:
df=df_original

In [171]:
df = df.replace("是",1).replace("否",0)

In [ ]:
"\',\'".join("""Q504A1
Q305A
Q305B
Q305C
Q305D
Q305E
Q305F
Q305G
Q305H""".split("\n"))

In [ ]:
print("\n".join(list(df.columns)))

In [ ]:
df["q101i1"].unique()

In [172]:
df = df[["Q501A","Q501B","Q501C","Q501D","Q501E","Q501F",
         "Q502A","Q502B","Q502C","Q502D","Q502E",
         "Q503A","Q503D","Q503E", "Q503F", "Q503H",
         'Q504A1','Q504A2','Q504B1','Q504B2','Q504C1','Q504C2','Q504D1','Q504D2','Q504E1','Q504E2',
         'Q105','q101e1',"q101k1","q101b1",'q101d1','q101h1','Q201', 
         'Q305A','Q305B','Q305C','Q305D','Q305E','Q305F','Q305G','Q305H',
         'Q406','Q410']]

In [174]:
df["Q501_bridging"] = df.transpose()[:2].sum().transpose().apply(lambda x: 1 if x>0 else 0)
df["Q501_bounding"] = df.transpose()[2:5].sum().transpose().apply(lambda x: 1 if x>0 else 0)
df["Q501_other"] = df.transpose()[5:6].sum().transpose().apply(lambda x: 1 if x>0 else 0)

In [177]:
df["Q501"] = [" "]*len(df)
df["Q501"] [(df.Q501_bridging==1)&(df.Q501_bounding==1)] = "both"
df["Q501"] [(df.Q501!="both")&(df.Q501_bounding==1)] = "bounding"
df["Q501"] [(df.Q501!="both")&(df.Q501_bridging==1)] = "bridging"
df["Q501"] [(df.Q501!="both")&(df.Q501!="bounding")&(df.Q501!="bridging")&(df.Q501_other==1)] = "other"
df["Q501"] = df["Q501"].replace(np.nan,"no group")
df=df.drop(["Q501_bridging","Q501_bounding","Q501_other"],axis=1)
df

<ipython-input-177-8738acfb3a2e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Q501"] [(df.Q501_bridging==1)&(df.Q501_bounding==1)] = "both"
<ipython-input-177-8738acfb3a2e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Q501"] [(df.Q501!="both")&(df.Q501_bounding==1)] = "bounding"
<ipython-input-177-8738acfb3a2e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Q501"] [(df.Q501!="both")&(df.Q501_bridging==1)] = "bridging"
<ipython-input-177-8738acfb3a2e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Q501"] [(df.Q501!="both")&(df.Q501!="bounding")&(df.Q501!="bridging")&(df.Q501_other==1)] = "other"

,Q501A,Q501B,Q501C,Q501D,Q501E,Q501F,Q502A,Q502B,Q502C,Q502D,...,Q305B,Q305C,Q305D,Q305E,Q305F,Q305G,Q305H,Q406,Q410,Q501
0,0,0,0,0,0,0,偶尔,没有,没有,偶尔,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,0,
1,0,0,0,0,0,0,没有,没有,没有,没有,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,均未患有,0,
2,0,0,1,0,0,1,没有,没有,没有,偶尔,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,0,bounding
3,0,0,1,0,0,0,没有,没有,没有,偶尔,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,均未患有,0,bounding
4,0,0,0,0,0,0,没有,没有,没有,没有,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,0,0,0,0,0,0,没有,没有,没有,没有,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,均未患有,0,
169985,0,0,0,0,0,0,没有,没有,没有,偶尔,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,患有高血压,0,
169986,0,0,1,1,0,0,偶尔,没有,没有,没有,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding
169987,0,0,0,1,0,0,经常,偶尔,没有,经常,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding
169988,0,0,1,0,0,0,没有,没有,没有,偶尔,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,均未患有,是，最近一次发生在两周前,bounding

In [179]:
df=df.replace("不清楚",np.nan)
df

,Q501A,Q501B,Q501C,Q501D,Q501E,Q501F,Q502A,Q502B,Q502C,Q502D,...,Q305B,Q305C,Q305D,Q305E,Q305F,Q305G,Q305H,Q406,Q410,Q501
0,0,0,0,0,0,0,偶尔,没有,没有,偶尔,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,0,
1,0,0,0,0,0,0,没有,没有,没有,没有,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,均未患有,0,
2,0,0,1,0,0,1,没有,没有,没有,偶尔,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,0,bounding
3,0,0,1,0,0,0,没有,没有,没有,偶尔,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,均未患有,0,bounding
4,0,0,0,0,0,0,没有,没有,没有,没有,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,0,0,0,0,0,0,没有,没有,没有,没有,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,均未患有,0,
169985,0,0,0,0,0,0,没有,没有,没有,偶尔,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,患有高血压,0,
169986,0,0,1,1,0,0,偶尔,没有,没有,没有,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding
169987,0,0,0,1,0,0,经常,偶尔,没有,经常,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding
169988,0,0,1,0,0,0,没有,没有,没有,偶尔,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,均未患有,是，最近一次发生在两周前,bounding

In [180]:
df["q502"] = df["Q502A"]+df["Q502B"]+df["Q502C"]+df["Q502D"]+df["Q502E"]
def map502(x):
    if "经常" in x:
        return 4
    elif "有时" in x:
        return 3
    elif "偶尔" in x:
        return 2
    else:
        return 1
df["Q502"] = df["q502"].apply(lambda x: map502(x))

In [181]:
df=df.drop(["q502"],axis=1)

In [182]:
d503 = dict(zip(['完全同意', '基本同意', '不同意', '完全不同意'],[2,1,-1,-2]))
for k,v in d503.items():
    df = df.replace(k,v)

In [183]:
df = df.drop(["Q501A","Q501B","Q501C","Q501D","Q501E","Q501F",
         "Q502A","Q502B","Q502C","Q502D","Q502E"], axis=1)

In [184]:
df["Q504"] = df['Q504A1'].astype(float)+df['Q504B1'].astype(float)+df['Q504C1'].astype(float)+df['Q504D1'].astype(float)+df['Q504E1'].astype(float)
df["Q504"] = df["Q504"].apply(lambda x: 1 if x>0 else 0).astype(int)
df = df.drop([ 'Q504A1','Q504A2','Q504B1','Q504B2','Q504C1','Q504C2','Q504D1','Q504D2','Q504E1','Q504E2'],axis=1)
df

,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101k1,q101b1,q101d1,...,Q305D,Q305E,Q305F,Q305G,Q305H,Q406,Q410,Q501,Q502,Q504
0,1,-1,1,-1,-1,NaN,高中/中专,本地,女,汉,...,NaN,NaN,NaN,NaN,NaN,均未患有,0,,2,1
1,2,1,1,-1,2,NaN,大学专科,本地,女,汉,...,0.0,0.0,1.0,0.0,0.0,均未患有,0,,1,0
2,2,1,1,1,2,NaN,高中/中专,本地,女,汉,...,NaN,NaN,NaN,NaN,NaN,均未患有,0,bounding,2,1
3,1,1,-1,-1,2,NaN,初中,本地,男,汉,...,0.0,0.0,0.0,0.0,0.0,均未患有,0,bounding,2,1
4,1,1,-2,1,1,NaN,大学专科,本地,女,汉,...,NaN,NaN,NaN,NaN,NaN,均未患有,0,,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,2,2,-2,-2,2,100000.0,小学,本地,女,汉,...,0.0,0.0,0.0,0.0,0.0,均未患有,0,,1,0
169985,2,2,-2,1,1,120000.0,初中,本地,男,汉,...,NaN,NaN,NaN,NaN,NaN,患有高血压,0,,2,1
169986,2,2,-1,1,2,180000.0,大学本科,本地,女,满,...,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding,2,1
169987,2,2,-1,1,2,200000.0,初中,本地,女,汉,...,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding,4,1
169988,2,1,-2,-1,1,200000.0,大学专科,本地,女,汉,...,0.0,1.0,0.0,0.0,0.0,均未患有,是，最近一次发生在两周前,bounding,2,1

In [27]:
import numpy as np

d = {"经常": 4,
     "有时": 3,
     "偶尔": 2,
     "没有":1,
     '完全同意':2,
     '基本同意':1,
     '不同意':-1,
     '完全不同意':-2,
     "不清楚": np.nan,
     '未上过小学':0,
     '小学':1,
     '初中':2, 
     '高中/中专':3,
     '大学专科':4,
     '大学本科':5,
     '研究生':6,
     '女':1,
     '男':2,
     '汉':1,
     '回':2,
     '蒙':3, 
     '彝':4, 
     '土家':5, 
     '苗':6, 
     '白':7, 
     '藏':8, 
     '侗':9,
     '其他':"other", 
     '满':10, 
     '朝鲜':11,
     '黎':12, 
     '维吾尔':13, 
     '哈萨克':14, 
     '哈尼':15, 
     '傣':16, 
     '布依':17, 
     '瑶':18,
     '未婚':0,
     '同居':1,
     '初婚':2,
     '再婚':3, 
     '离婚':4,
     '丧偶':5,
     '均未患有':0, 
     '未就诊':np.nan, 
     '患有糖尿病':1, 
     '患有高血压和糖尿病':3, 
     '患有高血压':2,
     '健康': 4, 
     '基本健康': 3, 
     '不健康，但生活能自理': 2, 
     '生活不能自理': 1
    }

In [185]:
df["q101e1"].unique()

array(['高中/中专', '大学专科', '初中', '小学', '未上过小学', '大学本科', '研究生'], dtype=object)

In [186]:
df["q101k1"].unique()

array(['本地'], dtype=object)

In [187]:
df=df.drop("q101k1",axis=1)

In [188]:
df["q101b1"] = df_original["q101b1"]
df["q101b1"].unique()

array(['女', '男'], dtype=object)

In [5]:
df["q101b1"] = df["q101b1"].map(lambda x: 1 if x=="女" else 2)
df["q101b1"]

0         1
1         1
2         1
3         2
4         1
         ..
169984    1
169985    2
169986    1
169987    1
169988    1
Name: q101b1, Length: 169989, dtype: int64

In [190]:
df["q101d1"] = df["q101d1"].replace("_","")
df["q101d1"].unique()

array(['汉', '', '回', '蒙', '彝', '土家', '苗', '白', '藏', '侗', '其他', '满', '朝鲜',
       '黎', '维吾尔', '哈萨克', '哈尼', '傣', '布依', '瑶'], dtype=object)

In [191]:
df["q101h1"].unique()

array(['初婚', '再婚', '未婚', '离婚', '丧偶', '同居'], dtype=object)

In [192]:
df

,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101b1,q101d1,q101h1,...,Q305D,Q305E,Q305F,Q305G,Q305H,Q406,Q410,Q501,Q502,Q504
0,1,-1,1,-1,-1,NaN,高中/中专,女,汉,初婚,...,NaN,NaN,NaN,NaN,NaN,均未患有,0,,2,1
1,2,1,1,-1,2,NaN,大学专科,女,汉,再婚,...,0.0,0.0,1.0,0.0,0.0,均未患有,0,,1,0
2,2,1,1,1,2,NaN,高中/中专,女,汉,初婚,...,NaN,NaN,NaN,NaN,NaN,均未患有,0,bounding,2,1
3,1,1,-1,-1,2,NaN,初中,男,汉,初婚,...,0.0,0.0,0.0,0.0,0.0,均未患有,0,bounding,2,1
4,1,1,-2,1,1,NaN,大学专科,女,汉,初婚,...,NaN,NaN,NaN,NaN,NaN,均未患有,0,,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,2,2,-2,-2,2,100000.0,小学,女,汉,初婚,...,0.0,0.0,0.0,0.0,0.0,均未患有,0,,1,0
169985,2,2,-2,1,1,120000.0,初中,男,汉,初婚,...,NaN,NaN,NaN,NaN,NaN,患有高血压,0,,2,1
169986,2,2,-1,1,2,180000.0,大学本科,女,满,初婚,...,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding,2,1
169987,2,2,-1,1,2,200000.0,初中,女,汉,初婚,...,NaN,NaN,NaN,NaN,NaN,均未患有,是，最近一次发生在两周前,bounding,4,1
169988,2,1,-2,-1,1,200000.0,大学专科,女,汉,初婚,...,0.0,1.0,0.0,0.0,0.0,均未患有,是，最近一次发生在两周前,bounding,2,1

In [193]:
df["Q305_type1"] = df[['Q305A']].replace(np.nan,0)
df["Q305_type1"].unique()

array([1, 0])

In [194]:
df["q305_2"]=df[['Q305B','Q305C','Q305D','Q305E','Q305F']].replace(np.nan,0).sum(axis=1)
df["Q305_type2"] = df["q305_2"].apply(lambda x: 1 if x>0 else 0)
df["Q305_type2"].unique()

array([0, 1])

In [195]:
df["q305_2"]=df[['Q305G','Q305H']].replace(np.nan,0).sum(axis=1)
df["Q305_type3"] = df["q305_2"].apply(lambda x: 1 if x>0 else 0)
df["Q305_type3"].unique()
df = df.drop("q305_2",axis=1)

In [196]:
df=df.drop([ 'Q305A','Q305B','Q305C','Q305D','Q305E','Q305F','Q305G','Q305H'],axis=1)
df

,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101b1,q101d1,q101h1,Q201,Q406,Q410,Q501,Q502,Q504,Q305_type1,Q305_type2,Q305_type3
0,1,-1,1,-1,-1,NaN,高中/中专,女,汉,初婚,1,均未患有,0,,2,1,1,0,0
1,2,1,1,-1,2,NaN,大学专科,女,汉,再婚,0,均未患有,0,,1,0,0,1,0
2,2,1,1,1,2,NaN,高中/中专,女,汉,初婚,1,均未患有,0,bounding,2,1,1,0,0
3,1,1,-1,-1,2,NaN,初中,男,汉,初婚,1,均未患有,0,bounding,2,1,0,1,0
4,1,1,-2,1,1,NaN,大学专科,女,汉,初婚,1,均未患有,0,,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,2,2,-2,-2,2,100000.0,小学,女,汉,初婚,0,均未患有,0,,1,0,0,1,0
169985,2,2,-2,1,1,120000.0,初中,男,汉,初婚,1,患有高血压,0,,2,1,1,0,0
169986,2,2,-1,1,2,180000.0,大学本科,女,满,初婚,1,均未患有,是，最近一次发生在两周前,bounding,2,1,1,0,0
169987,2,2,-1,1,2,200000.0,初中,女,汉,初婚,1,均未患有,是，最近一次发生在两周前,bounding,4,1,1,0,0
169988,2,1,-2,-1,1,200000.0,大学专科,女,汉,初婚,1,均未患有,是，最近一次发生在两周前,bounding,2,1,0,1,0

In [197]:
df["Q406"].unique()

array(['均未患有', '未就诊', '患有糖尿病', '患有高血压和糖尿病', '患有高血压'], dtype=object)

In [198]:
d = dict(zip(['均未患有', '未就诊', '患有糖尿病', '患有高血压和糖尿病', '患有高血压'],[0,np.nan,1,3,2]))
for k,v in d.items():
    df["Q406"] = df["Q406"].replace(k,v)

In [199]:
df

,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101b1,q101d1,q101h1,Q201,Q406,Q410,Q501,Q502,Q504,Q305_type1,Q305_type2,Q305_type3
0,1,-1,1,-1,-1,NaN,高中/中专,女,汉,初婚,1,0.0,0,,2,1,1,0,0
1,2,1,1,-1,2,NaN,大学专科,女,汉,再婚,0,0.0,0,,1,0,0,1,0
2,2,1,1,1,2,NaN,高中/中专,女,汉,初婚,1,0.0,0,bounding,2,1,1,0,0
3,1,1,-1,-1,2,NaN,初中,男,汉,初婚,1,0.0,0,bounding,2,1,0,1,0
4,1,1,-2,1,1,NaN,大学专科,女,汉,初婚,1,0.0,0,,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,2,2,-2,-2,2,100000.0,小学,女,汉,初婚,0,0.0,0,,1,0,0,1,0
169985,2,2,-2,1,1,120000.0,初中,男,汉,初婚,1,2.0,0,,2,1,1,0,0
169986,2,2,-1,1,2,180000.0,大学本科,女,满,初婚,1,0.0,是，最近一次发生在两周前,bounding,2,1,1,0,0
169987,2,2,-1,1,2,200000.0,初中,女,汉,初婚,1,0.0,是，最近一次发生在两周前,bounding,4,1,1,0,0
169988,2,1,-2,-1,1,200000.0,大学专科,女,汉,初婚,1,0.0,是，最近一次发生在两周前,bounding,2,1,0,1,0

In [200]:
d = dict(zip([0, '是，最近一次发生在两周前', '是，最近一次发生在两周内'],[0,1,2]))
for k,v in d.items():
    df["Q410"] = df["Q410"].replace(k,v)

In [201]:
df

,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101b1,q101d1,q101h1,Q201,Q406,Q410,Q501,Q502,Q504,Q305_type1,Q305_type2,Q305_type3
0,1,-1,1,-1,-1,NaN,高中/中专,女,汉,初婚,1,0.0,0,,2,1,1,0,0
1,2,1,1,-1,2,NaN,大学专科,女,汉,再婚,0,0.0,0,,1,0,0,1,0
2,2,1,1,1,2,NaN,高中/中专,女,汉,初婚,1,0.0,0,bounding,2,1,1,0,0
3,1,1,-1,-1,2,NaN,初中,男,汉,初婚,1,0.0,0,bounding,2,1,0,1,0
4,1,1,-2,1,1,NaN,大学专科,女,汉,初婚,1,0.0,0,,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,2,2,-2,-2,2,100000.0,小学,女,汉,初婚,0,0.0,0,,1,0,0,1,0
169985,2,2,-2,1,1,120000.0,初中,男,汉,初婚,1,2.0,0,,2,1,1,0,0
169986,2,2,-1,1,2,180000.0,大学本科,女,满,初婚,1,0.0,1,bounding,2,1,1,0,0
169987,2,2,-1,1,2,200000.0,初中,女,汉,初婚,1,0.0,1,bounding,4,1,1,0,0
169988,2,1,-2,-1,1,200000.0,大学专科,女,汉,初婚,1,0.0,1,bounding,2,1,0,1,0

In [202]:
df["Q401"] = df_original["Q401"]
d = dict(zip(['健康', '基本健康', '不健康，但生活能自理', '生活不能自理'],[1,2,3,4]))
for k,v in d.items():
    df["Q401"] = df["Q401"].replace(k,v)

In [206]:
# df = df.reset_index()
# df=df.transpose()[:-1].transpose()
# df.insert(0,"participant",df["index"])
# df=df.drop("index",axis=1)
df.participant = df.participant.astype(str)
df

,participant,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101b1,q101d1,...,Q201,Q406,Q410,Q501,Q502,Q504,Q305_type1,Q305_type2,Q305_type3,Q401
0,0,1,-1,1,-1,-1,NaN,高中/中专,女,汉,...,1,0.0,0,,2,1,1,0,0,1
1,1,2,1,1,-1,2,NaN,大学专科,女,汉,...,0,0.0,0,,1,0,0,1,0,2
2,2,2,1,1,1,2,NaN,高中/中专,女,汉,...,1,0.0,0,bounding,2,1,1,0,0,1
3,3,1,1,-1,-1,2,NaN,初中,男,汉,...,1,0.0,0,bounding,2,1,0,1,0,1
4,4,1,1,-2,1,1,NaN,大学专科,女,汉,...,1,0.0,0,,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,169984,2,2,-2,-2,2,100000.0,小学,女,汉,...,0,0.0,0,,1,0,0,1,0,1
169985,169985,2,2,-2,1,1,120000.0,初中,男,汉,...,1,2.0,0,,2,1,1,0,0,1
169986,169986,2,2,-1,1,2,180000.0,大学本科,女,满,...,1,0.0,1,bounding,2,1,1,0,0,2
169987,169987,2,2,-1,1,2,200000.0,初中,女,汉,...,1,0.0,1,bounding,4,1,1,0,0,1
169988,169988,2,1,-2,-1,1,200000.0,大学专科,女,汉,...,1,0.0,1,bounding,2,1,0,1,0,1

In [208]:
df.groupby("Q401").agg("count")

,participant,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101b1,q101d1,q101h1,Q201,Q406,Q410,Q501,Q502,Q504,Q305_type1,Q305_type2,Q305_type3
Q401,,,,,,,,,,,,,,,,,,,,
1,139690,139690,139690,139690,139690,139690,139685,139690,139690,139690,139690,139690,137116,139690,139690,139690,139690,139690,139690,139690
2,25694,25694,25694,25694,25694,25694,25692,25694,25694,25694,25694,25694,24637,25694,25694,25694,25694,25694,25694,25694
3,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4438,4239,4438,4438,4438,4438,4438,4438,4438
4,167,167,167,167,167,167,167,167,167,167,167,167,160,167,167,167,167,167,167,167

In [209]:
d

{'健康': 1, '基本健康': 2, '不健康，但生活能自理': 3, '生活不能自理': 4}

In [32]:
df.to_csv("preliminary_data.csv",index=False)

In [1]:
import pandas as pd
df = pd.read_csv("prcessed_data.csv")
df

,participant,like.current.city,natives.like.me,natives.lookdown.me,native.customs.better,i.am.native,income,education,gender,ethnicity,...,group,participated_in_group_activity,insuranced,migration.self,migration.relatives,migration.fellows,health,migration.type,income.normalized,income.thousand
0,0.0,1,-1,1,-1,-1,NaN,3,1,1,...,no_group,2,1,1,0,0,4,self,NaN,NaN
1,1.0,2,1,1,-1,2,NaN,4,1,1,...,no_group,1,0,0,1,0,3,relatives,NaN,NaN
2,2.0,2,1,1,1,2,NaN,3,1,1,...,bounding,2,1,1,0,0,4,self,NaN,NaN
3,3.0,1,1,-1,-1,2,NaN,2,2,1,...,bounding,2,1,0,1,0,4,relatives,NaN,NaN
4,4.0,1,1,-2,1,1,NaN,4,1,1,...,no_group,1,1,1,0,0,4,self,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,169984.0,2,2,-2,-2,2,100000.0,1,1,1,...,no_group,1,0,0,1,0,4,relatives,16.124701,100.0
169985,169985.0,2,2,-2,1,1,120000.0,2,2,1,...,no_group,2,1,1,0,0,4,self,19.597445,120.0
169986,169986.0,2,2,-1,1,2,180000.0,5,1,10,...,bounding,2,1,1,0,0,3,self,30.015678,180.0
169987,169987.0,2,2,-1,1,2,200000.0,2,1,1,...,bounding,4,1,1,0,0,4,self,33.488422,200.0
169988,169988.0,2,1,-2,-1,1,200000.0,4,1,1,...,bounding,2,1,0,1,0,4,relatives,33.488422,200.0

In [2]:
df[df.group=="no_group"]

,participant,like.current.city,natives.like.me,natives.lookdown.me,native.customs.better,i.am.native,income,education,gender,ethnicity,...,group,participated_in_group_activity,insuranced,migration.self,migration.relatives,migration.fellows,health,migration.type,income.normalized,income.thousand
0,0.0,1,-1,1,-1,-1,NaN,3,1,1,...,no_group,2,1,1,0,0,4,self,NaN,NaN
1,1.0,2,1,1,-1,2,NaN,4,1,1,...,no_group,1,0,0,1,0,3,relatives,NaN,NaN
4,4.0,1,1,-2,1,1,NaN,4,1,1,...,no_group,1,1,1,0,0,4,self,NaN,NaN
11,11.0,2,1,-1,-1,2,-20000.0,3,1,1,...,no_group,2,1,0,1,1,3,relatives,-4.711765,-20.0
14,14.0,1,1,1,1,-2,-12500.0,2,2,1,...,no_group,2,1,0,1,1,4,relatives,-3.409485,-12.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169973,169973.0,1,-1,1,-2,1,90000.0,2,2,1,...,no_group,1,1,1,0,0,4,self,14.388329,90.0
169974,169974.0,1,1,2,-1,-1,90000.0,3,2,1,...,no_group,1,0,1,0,0,3,self,14.388329,90.0
169977,169977.0,2,-1,-1,-1,1,99000.0,5,2,1,...,no_group,2,1,1,0,0,4,self,15.951064,99.0
169984,169984.0,2,2,-2,-2,2,100000.0,1,1,1,...,no_group,1,0,0,1,0,4,relatives,16.124701,100.0
169985,169985.0,2,2,-2,1,1,120000.0,2,2,1,...,no_group,2,1,1,0,0,4,self,19.597445,120.0

In [3]:
df[df.group=="both"]

,participant,like.current.city,natives.like.me,natives.lookdown.me,native.customs.better,i.am.native,income,education,gender,ethnicity,...,group,participated_in_group_activity,insuranced,migration.self,migration.relatives,migration.fellows,health,migration.type,income.normalized,income.thousand
44,44.0,2,1,-1,1,1,-2750.0,2,2,1,...,both,2,1,1,0,0,4,self,-1.716523,-2.75
130,130.0,2,2,-2,-2,2,0.0,1,2,2,...,both,2,1,0,1,0,2,relatives,-1.239020,0.00
169,169.0,2,2,-1,-1,1,0.0,3,1,1,...,both,2,1,1,0,0,4,self,-1.239020,0.00
177,177.0,2,2,-1,-1,1,0.0,5,2,1,...,both,2,1,1,0,0,4,self,-1.239020,0.00
196,196.0,1,1,-2,-1,1,0.0,5,1,1,...,both,2,1,0,1,0,4,relatives,-1.239020,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169956,169956.0,2,2,-2,-1,-1,90000.0,5,2,1,...,both,3,1,1,0,0,4,self,14.388329,90.00
169960,169960.0,1,1,-1,-1,1,90000.0,6,2,1,...,both,4,0,1,0,0,4,self,14.388329,90.00
169962,169962.0,1,1,-1,-1,2,90000.0,3,1,1,...,both,2,1,1,0,0,4,self,14.388329,90.00
169978,169978.0,2,2,-1,-1,-1,100000.0,6,2,1,...,both,2,1,1,0,0,4,self,16.124701,100.00
169980,169980.0,2,1,-2,1,1,100000.0,4,2,1,...,both,2,0,1,0,0,4,self,16.124701,100.00

In [22]:
print(" + ".join(df.columns))

participant + like.current.city + natives.like.me + natives.lookdown.me + native.customs.better + i.am.native + income + education + gender + ethnicity + marriage + worked_before5.1 + diabete_hypertension + recent_disease + group + participated_in_group_activity + insuranced + migration.self + migration.relatives + migration.fellows + health

In [10]:
for k,v in d.items():
    df=df.replace(k,v)
df

,participant,Q503A,Q503D,Q503E,Q503F,Q503H,Q105,q101e1,q101b1,q101d1,...,Q201,Q406,Q410,Q501,Q502,Q504,Q305_type1,Q305_type2,Q305_type3,Q401
0,0,1,-1,1,-1,-1,NaN,3,1,1,...,1,0.0,0,,2,1,1,0,0,1
1,1,2,1,1,-1,2,NaN,4,1,1,...,0,0.0,0,,1,0,0,1,0,2
2,2,2,1,1,1,2,NaN,3,1,1,...,1,0.0,0,bounding,2,1,1,0,0,1
3,3,1,1,-1,-1,2,NaN,2,2,1,...,1,0.0,0,bounding,2,1,0,1,0,1
4,4,1,1,-2,1,1,NaN,4,1,1,...,1,0.0,0,,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169984,169984,2,2,-2,-2,2,100000.0,1,1,1,...,0,0.0,0,,1,0,0,1,0,1
169985,169985,2,2,-2,1,1,120000.0,2,2,1,...,1,2.0,0,,2,1,1,0,0,1
169986,169986,2,2,-1,1,2,180000.0,5,1,10,...,1,0.0,1,bounding,2,1,1,0,0,2
169987,169987,2,2,-1,1,2,200000.0,2,1,1,...,1,0.0,1,bounding,4,1,1,0,0,1
169988,169988,2,1,-2,-1,1,200000.0,4,1,1,...,1,0.0,1,bounding,2,1,0,1,0,1

In [28]:
instruction = pd.DataFrame.from_dict(d,orient='index')
instruction.columns = ["value"]
instruction

            value
经常              4
有时              3
偶尔              2
没有              1
完全同意            2
基本同意            1
不同意            -1
完全不同意          -2
不清楚           NaN
未上过小学           0
小学              1
初中              2
高中/中专           3
大学专科            4
大学本科            5
研究生             6
女               1
男               2
汉               1
回               2
蒙               3
彝               4
土家              5
苗               6
白               7
藏               8
侗               9
其他          other
满              10
朝鲜             11
黎              12
维吾尔            13
哈萨克            14
哈尼             15
傣              16
布依             17
瑶              18
未婚              0
同居              1
初婚              2
再婚              3
离婚              4
丧偶              5
均未患有            0
未就诊           NaN
患有糖尿病           1
患有高血压和糖尿病       3
患有高血压           2
健康              4
基本健康            3
不健康，但生活能自理      2
生活不能自理          1

In [29]:
instruction.to_csv("instruction.csv")

In [31]:
def rev(x):
    if x==1:
        return 4
    elif x==2:
        return 3
    elif x==3:
        return 2
    elif x==4:
        return 1
df.health= df.health.apply(lambda x: rev(x))